main {
    position: relative;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 5em;
}

body {
    font-family: 'Oswald', sans-serif, 'icones';
    background-color: white;
    color: black;
}

header {
	background: black;
    height: 100px;
	padding: 20px 0;
    position: sticky;
    overflow: hidden;
    width: 100%;
    top: 0;
    margin-bottom: 1.5em;
    z-index: 999;
}

.cabecalho {
    position: relative;
    height: 100px;
    color: white;
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

nav {
    position: absolute;
    right: 0;
}

nav li{
    display: inline-block;
    margin-left: 10px;
}

nav a {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}

nav a:hover {
    color: #0070C0;
	text-decoration: underline;
}

.titulo-pagina {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 0.8em 0;
    clear: left;
}

.produtos {
    display: flex;
    justify-content: space-around;
    vertical-align: top;
    text-align: center;
    flex-wrap: wrap;
}

.produtos li {
    width: 30%;
    margin: 0 8px 1.5% 1.5%;
    padding: 1em 0;
	box-sizing: border-box;
    border: 2px solid #000000;
	border-radius: 10px;
    overflow: hidden;

}

.produto-nome {
    font-size: 1.3em;
    font-weight: bold;
}

.produto-descricao {
    font-size: 1.2em;
    padding: 0.5em;
}

.produto-preco {
    font-size: 1.2em;
    font-weight: bold;
}

.imagens-produtos {
    margin: 5px 0;
    height: 50%;
    width: 80%;
    background-size: cover;
}

.botao {
    cursor: pointer;
}

.botao-produto {
    background-color: lightgrey;
    /* opacity: 0.8; */
    color: black;
    /* font-weight: bold; */
    border: 1px solid #000;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    margin-top: 15px;
}

.botoes-filtro {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
}

.botao-filtro:active {
    color: white;
    background-color: black;
}

.botao-filtro {
    color: black;
    /* font-weight: bold; */
    border: 2.5px solid #000;
    border-radius: 40px;
    padding: 15px;
    text-align: center;
    margin-top: 15px;
}

/* ========== FORMULÁRIOS ========== */
.input-padrao {
    display: block;
    width: 40%;
    padding: 8px;
    /* padding-left: 8px; */
    height: 25px;
    margin-bottom: 15px;
    border: 1px solid black;
}

.input-padrao::placeholder {
    opacity: 0.5;
}

.formulario-contato label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.formulario-radio {
    margin-bottom: 20px;
}
.formulario-radio p {
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
}

.formulario-radio input {
    margin-left: 5px;
}

.formulario-radio label {
    margin-bottom: 10px;
}

.checkbox {
    margin: 10px 0;
}

.botao-cria-produto {
    background-color: #0070C0;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: 0px solid #000;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}